<h1>Список статтiв.</h1>

<% @article.each do |article| %>

<h2><%= article.title %></h2>
<h3><%= article.text %></h3>
<p><%= link_to 'показати', article_path(article) %> &nbsp
<%= link_to 'редагувати', edit_article_path(article) %></p>

<hr>

<% end %>